.titulo{
    font-family: 'Playfair Display', serif; /* Aplicar la fuente elegida */
    font-size: 36px; /* Tamaño de fuente */
    font-weight: bold; /* Grosor de la fuente */
    color:white; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin-top: 10px; 
  
}
.but{
     display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
.otroProyecto{
      font-family: 'Playfair Display', serif; /* Aplicar la fuente elegida */
    font-size: 36px; /* Tamaño de fuente */
    font-weight: bold; /* Grosor de la fuente */
    color:#940253; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin-top: 20px; 
}